div.page-header
	h1 {{ config.db.host }} logs
		small.pull-right {{ pkg.name }} {{ pkg.version }}

form.form-inline(role='form')
	div.row
		div.form-group.col-xs-4
			input.form-control(type="search", ng-model="search", placeholder="Realtime search...")
		div.form-group.col-xs-8
			div.pull-right
				button.btn.btn-danger(ng-click="clear()", ng-hide="!messages.length") Clear all
				button.btn(ng-click="refresh()", ng-hide="messages.length") Refresh
			
div.status.space-top
	span.label(ng-class="{'label-info': phase == phases.CONNECTING, 'label-success': phase == phases.CONNECT, 'label-danger': phase == phases.ERROR}",ng-show="statusMessage != null") {{ statusMessage }}
	
div.space-top(ng-show="phase == phases.CONNECT")
		
	table.table
		thead
			tr
				th(ng-click="setSortField('DATE')") Date
				th(ng-click="setSortField('PROGRAM')") Program
				th(ng-click="setSortField('PRIORITY')") Priority
				th(ng-click="setSortField('MESSAGE')") Message
		
		tbody
			tr(ng-repeat="message in messages | filter:search | from:(page * perPage) | limitTo:perPage", class="{{ getClass(message) }} animate-repeat")
				td(ng-bind="message.DATE")
				td(ng-bind-html="message.PROGRAM | highlight:search")
				td(ng-bind-html="message.PRIORITY | highlight:search")
				td(ng-bind-html="message.MESSAGE | highlight:search")				
				
	
	ul.pagination
		li(ng-class="{'disabled': page == 1}")
			a(ng-click="goToPage(1)") &laquo;&laquo; 
		li(ng-class="{'disabled': page == 1}")
			a(ng-click="prevPage()") &laquo;
		li(ng-repeat="i in pagesRange()", ng-class="{'active': i == page}")
			a(ng-click="goToPage(i)") {{ i }}
		li(ng-class="{'disabled': page == numPages}")
			a(ng-click="nextPage()") &raquo;
		li(ng-class="{'disabled': page == numPages}")
			a(ng-click="goToPage(numPages)") &raquo;&raquo;
