div.page-header
	h1 {{ host }} logs
		small.pull-right {{ pkg.name }} {{ pkg.version }}

form.form-search
	input.search-query(type="search", ng-model="search", placeholder="Realtime search...")
			
div.status
	span.label.label-info(ng-show="phase == phases.CONNECTING") Connecting to log provider...
	span.label.label-success(ng-show="phase == phases.CONNECTED && !messages.length") Waiting for log messages...
	span.label.label-danger(ng-show="phase == phases.ERROR") Error connecting to log provider...

div(ng-show="messages.length")
		
	table.table.table-striped
		thead
			tr
				td Date
				td Program
				td Priority
				td Message
		
		tbody
			tr(ng-repeat="message in filterMessages()", class="{{ getClass(message) }}")
				td(ng-bind-html-unsafe="message.DATE")
				td(ng-bind-html-unsafe="message.PROGRAM | highlight:search")
				td(ng-bind-html-unsafe="message.PRIORITY | highlight:search")
				td(ng-bind-html-unsafe="message.MESSAGE | highlight:search")
				
				
	div.pagination.pagination-centered
		ul
			li(ng-class="{'disabled': page == 1}")
				a(ng-click="prevPage()") &laquo;
			li(ng-repeat="i in pagesRange()", ng-class="{'active': i == page}")
				a(ng-click="goToPage(i)") {{ i }}
			li(ng-class="{'disabled': page == numPages}")
				a(ng-click="nextPage()") &raquo;
